<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Palindrome, Positive Sentiment, or Both?</title>

        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="myModule">
        <nav>
            <a href="#!/sentiment">See How Positive You Can Be!</a>
            <a href="#!/palindrome">Check For A Palindrome!</a>
        </nav>
        
    Name: <input ng-model="input" ng-change="onChange()">
    <h1>{{ input }}</h1>
   <button type="button" ng-click="question(input)"> Click Me </button>    
   
    {{ response }} 
    
        <ng-view></ng-view>


        <!-- Invlude Angular and UI.Bootstrap -->
        <script src="lib/angular.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
        <script src="js/app.js" charset="utf-8"></script>
        <script src="js/palindromeController.js"></script>
        <script src="js/memeController.js"></script>
        <script src="js/service.js"></script>
        <script src="js/serviceapi.js"></script>
    </body>
</html>
