@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#sentimentbtn {
  width: 150px;
  height: 50px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  font-size: 0.9em;
  letter-spacing: 1.2px;
  margin: auto;
  color: white;
  text-shadow: 2px 2px 4px #D9A7F6;
  font-family: 'Roboto Mono', 'monospace';
}

#userwords {
  width: 250px;
  height: 40px;
  margin: auto;
  letter-spacing: 1.2px;
  font-size: 0.9em;
  color: #5A1C7E;
  background-color: #D9A7F6;
  text-shadow: 2px 2px 4px #D9A7F6;
  border-radius: 6px;
  text-align: center;
  cursor: left;
  border: none;
}

main {
  background: linear-gradient(90deg, rgba 19, 150, 190, 2) 0% rgba(179, 29, 140, 2) 100%%;
  margin: auto;
}
